footer {
  position: relative;
  bottom: 0;
  background-color: #db0202;
  display: flex;
  margin-top: 90px;
  padding: 30px;
  color: white;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer li {
  display: block;
  font-weight: bold;
}

footer ul ul {
  padding-left: 0px;
  font-weight: normal;
}

footer ul ul li {
  font-weight: normal;
}

footer a {
  color: white;
}

#box1 {
  order: 0;
  flex: 1;
}

#box2 {
  order: 1;
  flex: 1;
}

#box3 {
  order: 2;
  flex: 1;
}

#box4 {
  order: 3;
  flex: 1;
}

#box4 ul ul li {
  display: inline;
}

#email {
  border: 1px solid white;
  background-color: #db0202;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 240px;
}

.submit {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #db0202;
  padding: 5px;
  width: 100px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
