/*allgemeine Werte für alles*/
* {
  font-family: helvetica, arial, sans-serif;
  font-size: 12pt;
}

body {
  margin: 0px;
}

/*###########################################################################*/
/*Allgemeine Werte für den Main Bereich*/
main {
  width: 70%;
  margin: auto;
  background-color: white;
  font-size: 12pt;
}

h1 {
  font-size: 20pt;
}
h2 {
  font-size: 16pt;
}

h1, h2, h6 {
  color: #191970;
}

h6 {
  margin-bottom: 0px;
}

main ul {
  list-style: none;
  padding-left: 25px;
}
main li {
  margin-bottom: 3px;
}

main a {
  color: black;
  text-decoration: none;
}
main a:hover {
  color: #191970;
  transition: 0.5s;
}

p {
  color: #888888;
  margin-bottom: 40px;
}

section {
  margin-bottom: 100px;
}
/*###########################################################################*/
/*Login Seite --> vorallem Design von input Elementen*/
input[type="button"] {
  background-color: #191970;
  color: white;
  border: 1px solid #191970;
  border-radius: 5px;
  padding: 7px;
  margin-right: 5px;
}

/*Checkbox kann nicht so einfach manipuliert werden
  Anleitung siehe
  https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
#loginSite {
  display: flex;
  justify-content: space-between;
}

.login {
  width: 40%;
}

.login h2 {
  text-align: center;
  padding-bottom: 50px;
}

.login li {
  padding-bottom: 50px;
}

.login ul {
  list-style: none;
  padding: 0px;
}

.login input[type="text"], .login input[type="password"] {
  width: 85%;
  background-color: white;
  color: #191970;
  border: 1px solid #191970;
  border-radius: 20px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.checker {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12pt;
}

.login input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid darkgray;
}

.checker:hover input~.checkmark {
  background-color: #ccc;
}

.checker input:checked~.checkmark {
  background-color: #191970;
  border: 1px solid #191970;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checker input:checked~.checkmark:after {
  display: block;
}

.checker .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*###########################################################################*/
/*Kategorieseite*/
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.category {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*###########################################################################*/

.favourites {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}

.favourite {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: auto;
  margin-bottom: 50px;
}
.favourite img {
  float: left;
  width: 175px;
}
.favourite figcaption {
  float: right;
  height: 153px;
  text-align: center;
  line-height: 150px;
  width: 300px;
}
/*###########################################################################*/
/*Bilder*/
main img {
  display: block;
  margin: auto;
  width: 300px;
  text-align: center;
}

/*Beschreibung unter den Bildern */
figcaption {
  background-color: #191970;
  color: white;
  padding: 5px;
  padding-top: 7px;
  text-align: center;
  width: auto;
  height: 35px;
}

/* Werbebanner */
.ad-slides {
  width: 500px;
  text-align: center;
  margin: auto;
}

/* MultiCarousel für die Items */
.season {
  display: flex;
  overflow-x: auto;

}

.slides {

}

.offers {
  display: flex;
  overflow-x: auto;

}

.new {
  display: flex;
  overflow-x: auto;

}
/*###########################################################################*/

::placeholder {
  color: #191970;
}
